# Compiled binaries
Cuda/BIN/ct_CRM
Cuda/BIN/ct_FRM

# Generated benchmark results
Cuda/RESULTS/
Cuda/SOURCES/RESULTS/

# Jupyter temporary files
.ipynb_checkpoints/

# Generic build artefacts
*.o
*.out
# figures that can be created from specific scripts
Cuda/poster_figures/
Cuda/transition_kernel_vs_iterations.pdf
Cuda/transition_kernel_vs_iterations.png
Cuda/tumour_cells_vs_days.pdf
Cuda/tumour_cells_vs_days.png
